#list{
    display: grid;
    grid-template-columns: 10% 80% 1%;
    list-style-type: none;
}
.btn-list{
    font-size: 15px;
    text-align: center;
}

#Products {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 30px;
    list-style-type: none;
  }
  #ProductList {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    
  }
  .delete-checkbox{
    float:left;
  }
  .hidden {
    display: none;
  }
